:root {
	--accent: #a855f7;
	--bg: #ffffff;
	--bg-secondary: #f1f5f9;
	--text: #0f172a;
	--glass: rgba(0, 0, 0, 0.04);
	--border: rgba(0, 0, 0, 0.08);
}

html.dark {
	--bg: #0f172a;
	--bg-secondary: #1e293b;
	--text: #f8fafc;
	--glass: rgba(255, 255, 255, 0.03);
	--border: rgba(255, 255, 255, 0.08);
}
